# Ignore compiled Python files
*.pyc
migrations
__pycache__


venv/
.venv/


*.todo
*.TODO

db*

src/static/

media/

*.log
*.logs

.env

.vscode/
.idea/ 
*.sublime-project
*.sublime-workspace

