<html>
    <head>
        <title>singup</title>
        {% comment %} <link rel="stylesheet" type="text/css" href="css/style.css"> {% endcomment %}
    </head>
    <body>
        <div class="header">
            <form method = "POST">
                {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}
                <p>
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" maxlength="150" required="" aria-describedby="id_username_helptext" id="id_username">                        
                </p>
                <p>
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" maxlength="128" required="" id="id_password">                  
                </p>
                <button type="submit">Sign up</button>
            </form>
        </div>
    
    </body>
</html>